<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Object Detection with YOLOv5</title>
</head>
<body>
    <!-- img src="{{url_for('static', filename='ampere_logo_®_primary_stacked_rgb 200x30.jpg')}}" width="300" style="float:right" -->
    <img src="https://raw.githubusercontent.com/AmpereComputingAI/images/master/ampere_logo_horiz_rgb_300x50.jpg" width="300" style="float:right">
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h1 class="mt-5"><center>Object Detection with YOLOv5</center></h1>
            <img src="{{ url_for('yolo', app_id=appid) }}" width=720>
        </div>
        <div>
            <form action="/stop" method="post">
                <!-- button name="resetBtn" type="submit">Reset</button -->
            </form>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <!-- img src="{{url_for('static', filename='demo_banner.png')}}" width="800" -->
    <img src="https://raw.githubusercontent.com/AmpereComputingAI/images/master/objectdetection.png" width="800">
</div>
</body>
</html>